body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ccc;
}

dl {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

main { padding: .5rem 0 }
th { white-space: nowrap; }
code { font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace; }

@media screen and (min-width: 66rem) { main { padding: .5rem 1rem; }}
@media screen and (min-width: 68rem) { main { padding: .5rem 2rem; }}
@media screen and (min-width: 70rem) { main { padding: .5rem 3rem; }}
@media screen and (min-width: 72rem) {main { padding: .5rem 4rem; }}
@media screen and (min-width: 74rem) {main { padding: .5rem 5rem; }}
@media screen and (min-width: 76rem) {main { padding: .5rem 6rem; }}
@media screen and (min-width: 78rem) {main { padding: .5rem 7rem; }}
@media screen and (min-width: 80rem) {main { padding: .5rem 8rem; }}